.checkboxGroup{
    display: flex;
    flex-direction: row;
}
#group-size{
    width: 75%
}
.at-form{
    border: 1px solid rgb(61, 129, 238) !important;
}
.invalidWarn{
    border: 2px solid #dc3545 !important;
}
.js-delete{
    font-size: 1.5em;
    color: #dc3545;
    cursor: pointer;
}
.js-complete{
    font-size: 1.5em;
    color: #17e628;
    cursor: pointer;
}
